@media screen and (min-device-width: 1200px) and(max-device-width: 1600px) and (-webkit-min-device-pixel-ratio-1)

}

@media screen {
  and (min-device-width:1200px)
  and (max-device-width:1600px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi)

}
.title {
  position: relative;
  left: 110px;
  color: white;
}
h2 {
  text-align: center;
}
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
.projectlist {
  font-size: 20px;
}
.aboutmelist {
  font-size: 20px;
  border-radius: 20px;
}
body {
  background: linear-gradient(to bottom, #1C2331, slategrey);
  background-size: cover;
  font-family: "Arial" sans-serif;
}


}

body {
  background-size: cover;

}.bodytext {
  color: white;
}
.well {
margin-right: 44%;
position:relative;
left: 147px;
background-color: #3F729B;
border-radius: 30px;
color: white;
}
img {
  position: relative;
  left: 180px;
  border-radius: 5px;
  box-shadow: 5px 5px 20px black;
}

.projecttitle {
  color: white;
}
.panel-default > .panel-heading-custom {
  background-color: #3F729B;
  border-radius: 15px;

}
.panel-title {
  color: white;

}
a {
  color: white;
}

.projectlist a {
  color: skyblue;
}

html {
  height: 1300px;
}


.aboutmelist {
  background-color: #1C2331;
  padding: 20px;
  color: white;
  margin-bottom: -20px;
}
h1 {
  text-align: center;
  text-shadow: 2px 2px 10px black;
}
h2 {
  text-shadow: 2px 2px 10px black;
}
h6 {
  color: white;
  position: relative;
  top: -30px;
  left: 750px
}
ul {
  text-align: center;
}
p {
  text-align: center;
}
.button {
  position:relative;
  left: 900px;
  top: -137px;
}
.button1 {
  position:relative;
  left: 900px;
  top: -108px;
}
span {
  font-weight: bold;
}
