.title {
  position: relative;
  left: 100px;
}
h2 {
  text-align: center;
}
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
.projectlist {
  font-size: 20px;
}
.aboutmelist {
  font-size: 20px;
}
body {
  background: linear-gradient(to bottom, #1C2331, darkgrey);
  background-size: cover;
}


}

body {
  background-size: cover;

}.bodytext {
  color: white;
}
.well {
margin-right: 44%;
position:relative;
left: 140px;
background-color: #3F729B;
}
img {
  position: relative;
  left: 180px;
}.projecttitle {
  color: white;
}
.panel-default > .panel-heading-custom {
  background-color: #3F729B;
}
.panel-title {
  color: white;

}
a {
  color: white;
}

.projectlist a {
  color: skyblue;
}

html {
  height: 100%;
}
